/* @import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --body-font-weight: 400;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: var(--font-roboto);
  font-size: 1rem;
} */

/* a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: var(--body-font-weight);
}

a:hover {
  color: inherit;
} */
