@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --body-font-weight: 400;
  --site-border-color: #c8c8c8;

  /************************** LIGHT THEME ********************************************/

  --site-light-root-bg-color: #f3f2ec;
  --site-light-root-text-color: #213547;
  --site-light-theme-text-color: #ec971f;

  /** Button Theme **/
  --site-light-button-color: var(--site-light-root-text-color);
  --site-light-button-bg-color: #f0ad4e;
  --site-light-button-active-color: #ec971f;
  --site-light-button-disabled-colorr: #efd9b8;
  /** End of Button Theme **/

  /** Link Theme **/
  --site-light-anchor-color: var(--site-light-root-text-color);
  --site-light-anchor-highlight-color: #ec971f;
  /** End of Link Theme **/

  /************************** END LIGHT THEME ********************************************/

  /************************** DARK THEME ********************************************/

  --site-dark-root-bg-color: #111;
  --site-dark-root-text-color: #fff;
  --site-dark-theme-text-color: #ff7a18;

  /** Button Theme **/
  --site-dark-button-color: #fff;
  --site-dark-button-bg-color: #262626;
  --site-dark-button-active-color: #ff7a18;
  --site-dark-button-disabled-colorr: #909090;
  /** End of Button Theme **/

  /** Link Theme **/
  --site-dark-anchor-color: #fff;
  --site-dark-anchor-highlight-color: #ff7a18;
  /** End of Link Theme **/

  /************************** END DARK THEME ********************************************/
}

:root {
  font-family: var(--font-roboto);
  line-height: 1.5;
  font-weight: var(--body-font-weight);

  color-scheme: light dark;
  color: var(--site-dark-root-text-color);
  background-color: var(--site-dark-root-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--body-font-weight);
  color: var(--site-dark-anchor-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--site-dark-anchor-highlight-color);
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
}

h3 {
  font-size: 2.8em;
  line-height: 1.1;
}

h4 {
  font-size: 2em;
  line-height: 1.1;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
}

button,
.buttonCls {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--site-dark-button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--site-dark-button-color);
}
button:hover,
.buttonCls:hover {
  border-color: var(--site-dark-button-active-color);
  color: var(--site-dark-button-color);
}
button:focus,
.buttonCls:focus,
button:focus-visible,
.buttonCls:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--site-light-root-text-color);
    background-color: var(--site-light-root-bg-color);
  }
  a {
    color: var(--site-light-anchor-color);
  }
  a:hover {
    color: var(--site-light-anchor-highlight-color);
  }
  button,
  .buttonCls {
    background-color: var(--site-light-button-bg-color);
    color: var(--site-light-button-color);
  }
  button:hover,
  .buttonCls:hover {
    background-color: var(--site-light-button-active-color);
    border-color: var(--site-light-button-active-color);
    color: var(--site-light-button-color);
  }
  button:disabled,
  .buttonCls:disabled {
    background-color: var(--site-light-button-disabled-colorr);
    border-color: var(--site-light-button-disabled-colorr);
    color: var(--site-light-button-color);
  }
}
