@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --body-font-weight: 400;
}

:root {
  font-family: var(--font-roboto);
  line-height: 1.5;
  font-weight: var(--body-font-weight);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--body-font-weight);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
}

h3 {
  font-size: 2.8em;
  line-height: 1.1;
}

h4 {
  font-size: 2em;
  line-height: 1.1;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
}

button {
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f3f2ec;
  }
  a {
    color: #383838;
  }
  a:hover {
    color: #383838;
  }
  button {
    background-color: #daa556;
  }
  button:hover {
    background-color: #f0a22d;
    border-color: #daa556;
  }
}
