/* To center the spinner*/
.pos_center {
  display: flex;
  justify-content: center;
  padding-block: 3rem;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #daa556;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
